.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 400px;
    margin: 30px auto;
    color: aliceblue;
}

.container form{
    background: rgba(170, 59, 255, 0.5);
    padding: 20px;
    border-radius: 10px;
}

.container form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container form h1 {
    text-align: center;
    padding: 10px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.container form input {
    padding: 7px;
    margin: 5px 40px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.989);
    text-align: center;
}

.container form button:hover {
    background-color: rgba(205, 156, 243, 0.1);
}

.container form button {
    padding: 7px;
    margin: 5px 40px;
    border: none;
    border-radius: 10px;
    background: #000;
    color: aliceblue;
    font-weight: bold;
}


.container div{
    display: flex;
    text-align: center;
    flex-direction: column;
    color: rgb(241, 241, 241);
    gap: 10px;
    margin: 20px 10px
}



.user-card {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin-top: 15px;
  padding: 15px;
  border-radius: 15px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 6px;
  transition: 0.3s;
}

.user-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 25px rgba(0,0,0,0.3);
}

.user-card button {
  background: #7a0df7;
  border: none;
  padding: 8px;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin-top: 8px;

  transition: 0.3s;
}

.user-card button:hover {
  background: #ff7070; 
  transform: scale(1.05);
}
.user-card p {
  font-size: 20px;
  opacity: 0.9;
}

.user-card strong {
  color: #ffffff;
}

.user-card.removing {
  opacity: 0;
  transform: scale(0.9) translateX(40px);
  filter: blur(3px);
}